{% extends '../template/base.html' %}

{% block body_content %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>courses</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <h2>Node.JS
                        <br>
                        <small>by Ravi Shankar</small>
                    </h2>
                    <p>This course will be completed in multiple intermediate stages. As the course progresses, we will also cover HTML/CSS, Bootstrap, Javascript, jquery, node.js and mongoDB and how to use Node.js libraries. This course is aimed at begineers to advanced developers. This has something for developers at all levels</p>
                    <a href="node.html" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <h2>C Programming
                        <br>
                        <small>by Ravi Shankar</small>
                    </h2>
                    <p>This Course is aimed at begineers. In this course we will be teaching C as a programming language. We will start with the basics and cover advanced concepts as the course progresses, such as Structures, etc. A state of the art printed material is also provided</p>
                    <a href="c-programming.html" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <h2>Data Structures
                        <br>
                        <small>by Ravi Shankar</small>
                    </h2>
                    <p>This course focusses on advancing your understanding of Data Structures. This course is designed keeping in mind the requirements of intervoews of various companies</p>
                    <a href="data-structures.html" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <!-- <div class="col-lg-12 text-center">
                    <h2>Core Java
                        <br>
                        <small>by Ravi Shankar</small>
                    </h2>
                    <p>This Course is aimed at begineers. In this course we will be teaching Java as a programming language. We will start with the basics and cover advanced concepts as the course progresses, such as Lambda, Generics, OOP concepts etc.</p>
                    <a href="core-java.html" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div>
                <div class="col-lg-12 text-center">
                    <h2>React.JS
                        <br>
                        <small>by Ravi Shankar</small>
                    </h2>
                    <p>This course focusses on advancing your career in front-end development. React.js is the most popular front-end tool of the world right now. Facebook, Instagram, Netflix and Urbanclap are some of the proud users of React.js</p>
                    <a href="reactjs.html" class="btn btn-default btn-lg">Read More</a>
                    <hr>
                </div> -->
                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous"><a href="#">&larr; Older</a>
                        </li>
                        <li class="next"><a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

{% endblock %}


<!-- params
{
  "title" : "Courses | Coding Vidyalaya"
}
-->
